<section class="section" style="background-image: url('img/bg.jpg');background-size: cover;background-repeat: no-repeat;">
  <div class="section__inner">
    <h1 class="title">Selene is coming soon</h1>
    <p class="subtitle">Today, people rely on computers to do homework, work, and create or store useful information. Therefore, it is important for the information on the computer to be stored and kept properly.</p>
    <div class="counter">
      <div class="counter__item">
        <p class="counter__text">
          <strong class="counter__number">359</strong>
          days
        </p>
      </div>
      <div class="counter__item">
        <p class="counter__text">
          <strong class="counter__number">7</strong>
          hours
        </p>
      </div>
      <div class="counter__item">
        <p class="counter__text">
          <strong class="counter__number">53</strong>
          minutes
        </p>
      </div>
      <div class="counter__item">
        <p class="counter__text">
          <strong class="counter__number">20</strong>
          seconds
        </p>
      </div>
    </div>
    <form class="form">
      <h2 class="form__title">Notify me when it's ready</h2>
      <div class="form__inner">
        <input type="email" class="form__field" name="email" placeholder="Your email">
        <button type="submit" class="button button--size-lg button--primary form__button">Subscribe</button>
      </div>
    </form>
    <ul class="social">
      <li class="social__item">
        <a href="#" class="social__link" title="Our facebook">
          <svg class="social__icon" aria-hidden="true">
            <use xlink:href="#facebook" href="#facebook" />
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="#" class="social__link" title="Our twitter">
          <svg class="social__icon" aria-hidden="true">
            <use xlink:href="#twitter" href="#twitter" />
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="#" class="social__link" title="Our google plus">
          <svg class="social__icon" aria-hidden="true">
            <use xlink:href="#google" href="#google" />
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="#" class="social__link" title="Our vimeo">
          <svg class="social__icon" aria-hidden="true">
            <use xlink:href="#vimeo" href="#vimeo" />
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="#" class="social__link" title="Our youtube">
          <svg class="social__icon" aria-hidden="true">
            <use xlink:href="#youtube" href="#youtube" />
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
