@import "../../../uikit/dark/vars.css";
@import "../../../uikit/media.css";
@import "../../../uikit/dark/buttons.css";

.section {
  min-width: 320px;
  padding: 30px 0;

  /* background-color: var(--ui-block-bg); */
  font-size: var(--ui-text-size);
  color: var(--ui-text-color);
  line-height: var(--ui-text-line-height);
  font-weight: var(--ui-text-font-weight);
  font-family: var(--ui-text-font-family);
  word-wrap: break-word;

  @media (--ui-medium-devices) {
    padding: 60px 0;
  }

  &__inner {
    max-width: var(--ui-content-container);
    margin: 0 auto;
    padding: var(--ui-content-gutter);
  }
}

.title {
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
  font-size: calc(var(--ui-block-title-size) * 0.75);
  color: var(--ui-block-title-color);
  line-height: var(--ui-block-title-line-height);
  font-family: var(--ui-block-title-font-family);
  font-weight: var(--ui-block-title-font-weight);

  @media (--ui-tablet-devices) {
    font-size: var(--ui-block-title-size);
  }
}

.subtitle {
  max-width: 680px;
  margin: 0 auto;
  text-align: center;
  font-size: calc(var(--ui-subtitle-size) * 0.9);
  color: var(--ui-subtitle-color);
  line-height: var(--ui-subtitle-line-height);
  font-family: var(--ui-subtitle-font-family);
  font-weight: var(--ui-subtitle-font-weight);

  @media (--ui-tablet-devices) {
    font-size: var(--ui-subtitle-size);
  }

  @media (--ui-medium-devices) {
    max-width: 970px;
  }
}

.counter {
  display: flex;
  max-width: 970px;
  margin: 50px auto;
  justify-content: center;
  flex-wrap: nowrap;

  @media (--ui-tablet-devices) {
    margin: 50px auto 60px;
    flex-wrap: wrap;
  }

  &__item {
    padding: 0 8px;
    flex-basis: 25%;
    max-width: 25%;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;

    @media (--ui-tablet-devices) {
      padding: 0 10px;
      border-left: 1px solid var(--ui-border-color);

      &:first-child {
        border-left: 0;
      }
    }
  }

  &__text {
    font-size: calc(var(--ui-text-size) * 0.875);

    @media (--ui-tablet-devices) {
      font-size: var(--ui-text-size);
    }
  }

  &__number {
    display: block;
    font-size: calc(var(--ui-block-title-size) * 0.75);
    color: var(--ui-block-title-color);
    line-height: var(--ui-block-title-line-height);
    font-family: var(--ui-block-title-font-family);
    font-weight: 600;

    @media (--ui-tablet-devices) {
      font-size: var(--ui-block-title-size);
    }
  }
}

.form {
  margin: 0 auto 49px;

  @media (--ui-tablet-devices) {
    max-width: 425px;
    margin: 0 auto 50px;
  }

  &__title {
    margin-bottom: 19px;
    text-align: center;
    font-size: calc(var(--ui-heading-size) * 0.8334);
    color: var(--ui-heading-color);
    line-height: var(--ui-heading-line-height);
    font-family: var(--ui-heading-font-family);
    font-weight: var(--ui-heading-font-weight);

    @media (--ui-tablet-devices) {
      margin-bottom: 20px;
      font-size: var(--ui-heading-size);
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    max-width: 100%;

    @media (--ui-tablet-devices) {
      flex-direction: row;
    }
  }

  &__field {
    height: 56px;
    flex: 1;
    margin-bottom: 16px;
    font-size: inherit;
    color: inherit;
    padding-left: 20px;
    padding-right: 20px;
  
    /* background-color: var(--ui-block-bg); */
    border: 1px solid var(--ui-light-accent-color);

    @media (--ui-tablet-devices) {
      margin-right: 10px;
      margin-bottom: 0;
    }
  }
}

.social {
  display: flex;
  justify-content: center;

  &__item {
    width: 24px;
    height: 24px;
    margin-right: 24px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: flex;
    height: 100%;
    color: inherit;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      color: var(--ui-brand-color);
    }
  }

  &__icon {
    max-width: 100%;
    max-height: 100%;
  }
}

/* stylelint-disable */

.title{
  font-size: var(--ui-block-title-size);
  font-family: var(--ui-block-title-font-family);
  text-transform: capitalize;
  margin-bottom: 39px;
}
.subtitle{
  color: #9B9496;
  font-size: calc(var(--ui-subtitle-size) * 0.7);
  @media (--ui-tablet-devices){
    font-size: calc(var(--ui-subtitle-size) * 0.9);
  }
}
.counter__text{
  color: #5E5C5D;
  font-family: var(--ui-caption-font-family);
  font-size: var(--ui-caption-size);
  position: relative;
  &:before{
    content: "";
    position: absolute;
    bottom: -23px;
    left: 50%;
    transform: translateX(-50%);
    float: left;
    width: 30px;
    height: 3px;
    background: var(--ui-link-hover-color);
  }
}
.counter__number{
  line-height: var(--ui-hero-title-line-height);
  @media (--ui-phone-devices){
    font-size: calc(var(--ui-hero-title-size) * .4);
  }
  @media (--ui-tablet-devices){
    font-size: var(--ui-hero-title-size);
  }
  @media (--ui-medium-devices){
    font-size: calc(var(--ui-hero-title-size) * 1.5);
  }
}
.counter__item{
  border: none;
}
.form__title{
  font-family: var(--ui-text-font-family);
  font-weight: var(--ui-heading-lg-font-weight);
  font-size: var(--ui-block-title-size);
}
.form__inner{
  float: left;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  & > input{
    color: var(--ui-light-accent-color);
    background: none;
    border: none;
    border-bottom: 1px solid #464445;
    height: 62px;
    text-align: center;
    font-family: var(--ui-hero-title-font-family);
    font-size: var(--ui-text-size);
    width: 88%;
  }
}
.button--size-lg{
  background-image: linear-gradient(to right, #fe0042 0%, #aa0146 100%);
  border: none;
  padding: 22px 74px;
  font-size: var(--ui-btn-lg-size);
  margin-top: 31px;
  margin-right: 10px;
}
.social{
  float: left;
  width: 100%;
  margin-top: 65px;
  display: flex;
  justify-content: center;
}
.button--primary:active{
  border: none;
}
.button--primary:hover{
  border: none;
}

.section{
  float: left;
  width: 100%;
}
.counter{
  max-width: 100%;
  margin-top: 53px;
  margin-bottom: 107px;
}
.social__link{
  width: 41px;
  height: 41px;
  background-color: var(--ui-light-shade-color);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social__icon{
  width: 19px;
  color: var(--ui-icon-color);
}
.social__item{
  margin-left: 2px;
  margin-right: 2px;
  width: 41px;
  height: 41px;
}

 /* stylelint-enable */
